{% extends 'base.html' %}

{% block title %}Faça o Login {% endblock %}

{% block content %}
    {% if questions %}
        {% for question in question %}
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{% url 'blog:form' formulario.id %}">{{ formulario.nome }}</a>
                    <p class="lead">{{ formulario.descricao }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum formulário disponível</p>
    {% endif %}
{% endblock %}