{% extends 'base.html' %}


{% block content %}

<h1 class="text=-center mb-3 mt-4">{{ pergunta.pergunta }}</h1>

{% if error_message %}
<p class="alert alert-danger" style="display:inline-block; max-height: 50px;">
    <strong>{{ error_message }}</strong>

</p> 
{% endif %}

<form action="{% url 'blog:resposta' formulario.id pergunta_num %}" method="POST" >
    {% csrf_token %}
    {% for alt in pergunta.alternativa_set.all %}
    <div class="form-check" style="text-align: center; width:1000px; height:30px; background-color: gray; color: white;"> 
        <input 
        type="radio"
        name="alternativa"
        class="form-check-input"
        id="alternativa{{ forloop.counter }}"
        value="{{ alt.id }}"
        />
        <label for="alternativa{{ forloop.counter }}">{{alt.texto}}</label>
    </div>
    {% endfor %}
    <input type="submit" value="Responder" class="btn btn-primary btn-lg  mt-4 mb-4"/>
</form>
{% if pergunta_num == 0 %}
    <a href="{% url 'blog:formulario' formulario.id %}" class="btn btn-secondary">Voltar</a>
    
    {% else %}
    <a href="{% url 'blog:pergunta' formulario.id pergunta_num|add:'-1' %}" class="btn btn-secondary">Voltar</a>
    
{% endif %}

{% endblock %}