/* VARIAVEIS */
/* CONFIGURACOES GERAIS */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: #241f20;
  font-family: sans-serif, helvetica;

  /* ajuda a fixar o footer no final da página */
  position:relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;   

  background-color: #343a40;
  text-align: center;
  color:#eee;
  padding: 10px;
}
/* HEADER */
header {
  background-color: #241f20;
  color: #eee;
  padding: 1.5vh 0;
}
header img {
  height: 3rem;
  cursor: pointer;
}
header .login {
  background-color: #4ad893;
  padding-left: 40px;
  text-align: center;
  color: #241f20;
  border-radius: 60px;
  padding: 8px 40px;
  transition: 400ms background-color ease-in-out;
}
header .login:hover {
  background-color: #93feca;
  color: #241f20;
}
header .grid-navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
header .logo {
  align-self: center;
  justify-self: left;
}
header .hamburguer {
  display: none;
  font-size: 2.2rem;
}
header ul {
  align-self: center;
  justify-self: right;
}
header li {
  display: inline;
  margin-right: 55px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 400ms color;
  color: #eee;
}
header li:hover {
  color: #4ad893;
}
/* MEDIA QUERIES HEADER */
/* @media screen and (max-width: 865px) {
  header .hamburguer {
    display: block;
    margin: 1px;
    align-self: center;
    justify-self: right;
 }
  header ul {
    display: none;
 }
  header .logo {
    align-self: center;
    justify-self: left;
 }
  header .grid-navbar {
    grid-template-columns: 1fr 1fr;
 }
} */
/* PAGINA INICIAL */
.grid-pagina-inicial {
  display: grid;
  grid-template-columns: 30% 70%;
}
.PaginaInicial {
  animation-name: fadeIn;
  animation-duration: 700ms;
  transition-timing-function: ease;
  height: 100%;
}
.PaginaInicial section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.PaginaInicial h1 {
  font-size: 3rem;
}
.PaginaInicial h2 {
  font-size: 2rem;
}
.PaginaInicial .grid-pagina-inicial p {
  background: #ccc;
  padding: 30px;
}
/* LOGIN */
.Login {
  animation-name: fadeIn;
  animation-duration: 700ms;
  transition-timing-function: ease;
  text-align: center;
 /* height: 75vh;
 */
}
.Login input:first-child, .Login input:nth-child(2) {
  font-size: 20px;
  margin: 10px 0;
  border-radius: 35px;
  background: none;
  padding: 10px;
  border: #241f20 1px solid;
  text-align: center;
  width: 35%;
  outline: none;
  transition: width 250ms ease-in-out, border 250ms ease-in-out;
}
.Login input:first-child:hover, .Login input:first-child:focus {
  color: #241f20;
  width: 45%;
  border: #4ad893 1px solid;
}

.Login input:nth-child(2):hover, .Login input:nth-child(2):focus {
  color: #241f20;
  width: 45%;
  border: #4ad893 1px solid;
}

.Login label{
  display: none;
}

.Login button{
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: helvetica;
  width: 200px;
  border-radius: 100px;
  border: none;
}
.Login .login {
  color: #241f20;
  background-color: #4ad893;
  width: 15%;
  transition: 300ms background-color ease-in-out;
  margin-right: 20px;
}
.Login .login:hover {
  background-color: #93feca;
}
.Login .criar_conta {
  color: #eee;
  background-color: #241f20;
  width: 15%;
  transition: 300ms background-color ease-in-out;
  margin-left: 20px;
}
.Login .criar_conta:hover {
  background-color: #464142;
}
/* MEDIA QUERIES LOGIN */
@media screen and (max-width: 865px) {
  .Login button {
    display: block;
    text-align: center;
 }
  .Login .criar_conta {
    margin: 15px auto;
    width: 35%;
 }
  .Login .login {
    margin: 15px auto;
    width: 35%;
 }
  .Login input {
    width: 50%;
 }
  .Login input:hover, .Login input:hover {
    width: 60%;
 }
}
/* ANIMACOES */
@keyframes fadeIn {
  0% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
