{% load staticfiles %}

<header>
  <div class="cont grid-nav">
    <ul>
    <a href="/" class="logo" ">
      <img src= "{% static 'media/pratica_de_lembrar.png' %}" width="81" height="50" alt="Prática de Lembrar">
    </a>
    <a class="link-navbar" href="{% url 'blog:about' %"><li>Quem somos</li></a>
    <a class="link-navbar" href="{% url 'blog:contact' %}"><li>Fale conosco</li></a>
    {% if user.is_authenticated %}
    
    {% endif %}
    </ul>
    <ul>
      {% if not user.is_authenticated %}
      <a class="link-navbar" href="{% url 'blog:register' %}"><li>Registrar</li></a>      
      <a class="link-navbar" href="{% url 'account:login' %}"><li class="login">Login</li></a>
      {% else %}
      <a class="link-navbar" href="{% url 'blog:forms' %}"><li>Formulários</li></a>
      <a class="link-navbar" href="{% url 'account:perfilVisualizar' %}"><li>Perfil de {{user.username}}</li></a>
      <a class="link-navbar" href="{% url 'account:logout' %}"><li>Sair</li></a>
      {% endif %}
    </ul>
    <p class="hamburguer">&#9776;</p>
  </div>
</header>




<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="/" >
        <img src= "{% static 'media/pratica_de_lembrar_mod.png' %}" width="81" height="50" alt="Prática de Lembrar">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'blog:home' %}">Página Inicial</a>
            <a class="nav-item nav-link" href="{% url 'blog:about' %}">Quem somos</a>
            <a class="nav-item nav-link" href="{% url 'blog:contact' %}">Fale conosco</a>
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'blog:forms' %}">Formulários</a>
            {% endif %}
        </div>
        <div class="navbar-nav">
        {% if not user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'account:register' %}">Registrar</a>
          <a class="nav-item nav-link" href="{% url 'account:login' %}">Entrar</a>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'account:perfilVisualizar' %}">Perfil de {{user.username}}</a>
          <a class="nav-item nav-link" href="{% url 'account:logout' %}">Sair</a>
        </div>
        {% endif %}
      
    </div> 

  </nav> -->

